---
const { brandColor, brandColorDark } = Astro.props;
---

<!doctype html>
<html lang="nl" class="h-full" style={`--brand-color: ${brandColor}; --brand-color-dark: ${brandColorDark}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>
  <body class="h-full">
    <slot />
  </body>
</html>
